In [4]:
a = 10+1
print (a)

11

In [5]:
2+1

3

In [8]:
2-1

1

In [10]:
10/2

5.0

In [12]:
type(a)

int

In [15]:
print ("Hello \nWorld")

Hello
World

In [37]:
mystring = 'abcdefghijk'

mystring[1:6]

'bcdef'

In [46]:
mystring[1:3:1]  # [Start:Stop:Step] 
mystring[::-1] # this example shows reverse string by giving -1 as a reverse index from start to end

'kjihgfedcba'

In [50]:
'Hello World'[-3]

'r'

In [52]:
'tinker'[1:4]

'ink'

In [63]:
name = "Sam"
name[0:2]

'Sa'

In [71]:
print('I am {c} {m}'.format(m='mayur',c='chavhan'))

I am chavhan mayur

In [86]:
result = 100/888
#print('The result was {}'.format(result)) # 1 method
#print("The result was {r}".format(r=result)) # 2 method [ this is better method ]
print("The result was {r:1.3f}".format(r=result))

The result was 0.113

In [89]:
name = "Jose"
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [91]:
name = "Sam"
age = 3
print(f'{name} is {age} years old')

Sam is 3 years old

In [96]:
number_list = [1,2,3,4,5]
number_list[1:3]

[2, 3]

In [97]:
my_list = ['STRING', 100, 23.2]
len(my_list)

3

In [99]:
new_list = number_list + my_list
new_list

[1, 2, 3, 4, 5, 'STRING', 100, 23.2]

In [103]:
new_list[0] = 'ONE REPLACED'
new_list

['ONE REPLACED', 2, 3, 4, 5, 'STRING', 100, 23.2]

In [105]:
new_list.append('fuck')
new_list

['ONE REPLACED', 2, 3, 4, 5, 'STRING', 100, 23.2, 'fuck', 'fuck']

In [110]:
new_list.pop() # you can use indexing inside pop(1)
new_list

[2, 3, 4, 5, 'STRING']

In [114]:
number_list = [6, 4, 7, 9, 44,99, 1, 19]
number_list.reverse()
number_list

[19, 1, 99, 44, 9, 7, 4, 6]

In [121]:
number_list = [6, 4, 7, 9, 44,99, 1, 19]
number_list.sort()
number_list

[1, 4, 6, 7, 9, 19, 44, 99]

In [123]:
# Dictionary
#{'key1':'value1",'key2':'value2'}
my_dict = {'key1':'value1', 'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [125]:
my_dict['key1']

'value1'

In [129]:
price_lookup = {'apple':2.99, 'oranges':1.99,'milk':5.80}
price_lookup['apple']

2.99

In [132]:
d = {'k1':123, 'k2':[0,1,2,3], 'k3':{'insidekey':100}}
d['k3']['insidekey']

100

In [144]:
d = {'key1': ['a','b','chavhan']}
my_dlist = d['key1']

letter = my_dlist[2]
letter.upper()
d['key1'][2].upper()

'CHAVHAN'

In [150]:
d = {'k1': 'Mayur', 'k2': 'Chavhan', 'k3':'Gulab'}
d.keys()
d.values()
d.items()

dict_items([('k1', 'Mayur'), ('k2', 'Chavhan'), ('k3', 'Gulab')])

In [157]:
# Tuples
#

t = (1,2,3)
t_list = [1,2,3,4]
type(t_list)
t[0]
t.count(2) # repetitative elements counts
t.index(3)

2

In [161]:
t_list
t_list[0] = 'Ghost'  # replaced positional index to 'Ghost'
t_list

['Ghost', 2, 3, 4]

In [164]:
# Sets
# unordered collection of unique elements


#myset = set()
myset.add(1)
myset.add(2)
myset

new_set_list = [1,1,1,1,1,5,5,5,4,4,4,7,7,7,7,0,0,0]
set(new_set_list)

{0, 1, 4, 5, 7}

In [171]:
# Boolean
# Operator True or False

1 == 1

True

In [174]:
3 < 1

False

In [176]:
type(False)

bool

In [183]:
b = None
type(b)

NoneType

In [189]:
%%writefile myfile.txt
Hello This is a text File
this is the second line 
this is the third line

Overwriting myfile.txt

In [197]:
myfile = open('myfile.txt')
myfile.read()
myfile.seek(0)
myfile.read()

'Hello This is a text File\nthis is the second line \nthis is the third line \n'

In [201]:
with open('myfile.txt') as my_new_file:
    content = my_new_file.read()

content

'Hello This is a text File\nthis is the second line \nthis is the third line \n'

In [202]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [204]:
with open('myfile.txt', mode='a') as f:
    f.write('\nHi This is Mayur')

In [208]:
with open('myfile.txt',mode='r') as myfile:
    print(myfile.read())

Hello This is a text File
this is the second line
this is the third line

Hi This is Mayur

In [213]:
with open('garbage.txt', mode='w') as nf:
    nf.write('\nThis is new file created by python3')

In [224]:
with open('garbage.txt', mode='r') as f:
     print( f.read())

This is new file created by python3

In [226]:
#Comparision 

2 > 4

False

In [229]:
a != b

True

In [233]:
#
1 < 2
2 < 3
1 < 2 <3

True

In [235]:
1 < 2 and 2 < 3

True

In [238]:
('h' == 'h') and (2 == 2)

True

In [240]:
1 == 1 or 2 == 2

True

In [244]:
not 400 < 5000

False

In [247]:
 if True:                       # If elif, else condition
     print('Its True')

Its True

In [250]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

I'm not hungry

In [254]:
loc = 'Bank'

if loc == 'Auto Shop' :
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

In [258]:
name = 'Frankie'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

Hello Frankie!

In [259]:
my_item_list = [1,2,3,4,5,6]

In [262]:
for jnum in my_item_list:
    print(jnum)

1
2
3
4
5
6

In [265]:
for jnum in my_item_list:
    print('Hello') # 6 times hello printed

Hello
Hello
Hello
Hello
Hello
Hello

In [272]:
for num in my_item_list:
    # check for even

    if num % 2 == 0:
        print(f'Even Number: {num}\n')
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
Even Number: 2

Odd Number: 3
Even Number: 4

Odd Number: 5
Even Number: 6

In [277]:
list_sum = 0

for num in my_item_list:
    list_sum = list_sum + num

print(list_sum)

21

In [282]:
mystring = 'Hello World'

for LTTR in mystring:
    
    print(LTTR)

H
e
l
l
o

W
o
r
l
d

In [284]:
mystring = 'Hello World'

for _ in mystring:
    
    print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

In [286]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [292]:
tup_pack_list = [(1,2),(3,4),(5,6),(7,8)]
# this is tupple in packing in where group of tupple can be call seperately from a list
for a,b in tup_pack_list:
    print(a)

1
3
5
7

In [294]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

for a,b,c in mylist:
    print(b)

2
6
9

In [298]:
d = {'k1':1, 'k2':2, 'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [315]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    #x = x + 1
    x += 1
else:
    print('X is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [318]:
x = [1,2,3,4]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [321]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [325]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [329]:
mylist = [1,2,3,4,5,6,7]

for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [331]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [333]:
index_count = 0

for letter in 'abcde':
    print(f'At Index {index_count} the letter is {letter}')
    index_count += 1

At Index 0 the letter is a
At Index 1 the letter is b
At Index 2 the letter is c
At Index 3 the letter is d
At Index 4 the letter is e

In [335]:
index_count = 0
word = 'abcde'

for letter in word:

    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [337]:
word = 'abcde'

for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [339]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [343]:
from random import shuffle
shuffle(mylist)
mylist

[7, 5, 3, 1, 6, 2, 4]

In [351]:
from random import randint

randint(0,100)

70

In [353]:
mynum = randint(0,10)
mynum

8

In [4]:
result = input('What is your name ?')

In [6]:
result

'mayur'

In [8]:
result = input('What is your name ?') # specifiy output of result cause python doesn't know if it's a string or integer or float values
str(result)

'mayur'

In [13]:
mystring = "Hello World"

In [11]:
mylist = []

for letter in mystring:
    mylist.append(letter)
mylist

['H', 'e', 'l', 'l', 'o']

In [15]:
mylist = [letter for letter in mystring]
mylist

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [17]:
mynumlist = [num for num in range(1,10)]
mynumlist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
mynumlist = [num**2 for num in range(1,10)]
mynumlist

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
mynumlist = [x for x in range(1,10) if x%2==0]
mynumlist = [x**2 for x in range(0,10) if x%2==0]

mynumlist

[0, 4, 16, 36, 64]

In [27]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [30]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [34]:

mylist = [] # Before doing one liner code for this

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [1]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [5]:
my_list = [1,2,3,4,5]
my_list.append(6)
help(my_list.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [8]:
def say_hello():
    print("Hello")

say_hello()

Hello

In [10]:
def say_hello(name):
    print(f'Hello {name}')

say_hello('Jose')

Hello Jose

In [12]:
def add_num(num1,num2):
    return num1+num2

add_num(10,20)

30

In [16]:
def print_result(a,b):
    print(a+b)

print_result(10,20)

30

In [20]:
def return_result(a,b):
    print(a+b) # can be use for debugging purpose to see return result
    return a + b

result = return_result(10,20)

30

In [27]:
def even_check(number):
    return number % 2 == 0

even_check(23)

False

In [35]:
# RETURN TRUE IF ANY NUMBER INSIDE OF A LIST

def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
    return False

check_even_list([3,3,3,3])

False

In [46]:
# Print even numbers in a list

def check_even_list(num_list):
    
    even_num_list = []

    for number in num_list:
        if number % 2 == 0:
            even_num_list.append(number)
        else:
            pass
    return even_num_list

check_even_list([1,2,3,4,5])

[2, 4]

In [69]:
stock_prices = [('APPLE', 200),('GOOGLE', 400),('MSFT', 100)]

# for item in stock_prices:
#     print(item)

for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [74]:
work_hours = [('Abby', 100), ('Billy', 400), ('Cassie', 800)]

def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''

    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass

    return (employee_of_month,current_max)

employee_check(work_hours)

('Cassie', 800)

In [77]:
result = employee_check(work_hours)
result

('Cassie', 800)

In [84]:
name,hours = employee_check(work_hours)  #tuples unpacking 

name
hours

800

In [87]:
example = [1,2,3,4,5,6,7]

from random import shuffle

shuffle(example)
example

[2, 5, 1, 6, 7, 3, 4]

In [96]:
s_list = [1,2,3,4,5,6,7]

from random import shuffle

def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

result = shuffle_list(s_list)

result

[6, 3, 1, 5, 4, 7, 2]

In [119]:
from random import shuffle

def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

def player_guess():
    guess=''
    while guess not in ['0','1','2']:
        guess = input("Pick a number from 0,1 or 2: ")
    return int(guess)

def check_guess(gm,guess):
    if gm[guess] == 'O':
        print("Correct!!")
    else:
        print("WRONG!!")
        
#initial list
gm = [' ','O',' ']

mixed_list = shuffle_list(gm)

guess = player_guess()

check_guess(mixed_list,guess)

WRONG!!

In [123]:
def myfunc(*args):
    out = []
    for num in args:
        if num%2==0:
            out.append(num)
    return out


myfunc(23,45,234,234,612)

[234, 234, 612]

In [125]:
def myfunc(name):
    print("Hello {}".format(name))

myfunc('Ghost')

Hello Ghost

In [165]:
def myfunc(word):
    new_string = ''
    for index,letter in enumerate(word):
        if index%2==0:
            new_string += letter.lower()
        else:
            new_string += letter.upper()
    return new_string

myfunc("TanAYa")

'tAnAyA'

In [189]:
def n_func(word):
    return "".join([
    letter.upper() if index % 2 == 0 else
    letter.lower() for index,letter in enumerate(word)
    ])

n_func("CyberPunk2077")

'CyBeRpUnK2077'

In [164]:
def myfunc(word):
    return "".join([
        word[_].upper() if _ % 2 == 0 else
        word[_].lower() for _ in range(len(word))
    ])

myfunc("tAnAyA")

'TaNaYa'

In [8]:
def my_n_num(n1,n2):
    if n1%2 == 0 and n2%2 == 0:
        return min(n1,n2,)
    else:
        return max(n1,n2)

my_n_num(2,13)

13

In [54]:
def mynfunc(word):
    x = word.split()
    return x[0][0] == x[1][0]

    

mynfunc("My Bayur")

False

In [77]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

def nsumfun(a,b):
    if a+b == 20 or a == 20 or b == 20:
        return True
    else:
        return False

nsumfun(20,8)

True

In [120]:
def ulfunc(name):
    n_word = list(name)
    #n_word[0] = n_word[0].upper()
    #n_word[3] = n_word[3].upper()
    n_word = n_word[0].capitalize() + n_word[3].capitalize()
    return ''.join(n_word)

ulfunc('badArjaat')

'BA'

In [184]:
def old_macdonald(name):
    word = ''
    for index,letter in enumerate(name):
        if index == 0 or index == 3:
            letter = name[index].capitalize()
            word += letter
        else:
            word += letter
    return word

old_macdonald('mRmAyur')

'MRmAyur'

In [196]:
def has33(nums):
    for x in range(len(nums)):
        if nums[x] == 3 and nums[x+1] == 3:
            return True
    return False

has33([1,2,4,3,3])

True

In [5]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

def ppd(name):
    char = ''
    for x in name:
        char += x * 3
    return char

ppd('HiThere')

#

'HHHiiiTTThhheeerrreee'

In [27]:
def bbjack(a,b,c):
    sum1 = (a+b+c)
    if sum1 <= 21:
        print(sum1)
    elif sum1 >= 21:
        print("Too High")

bbjack(1,6,4)

11

In [1]:
def summer_69(num):
    y = []
    for _ in num:
        if 6 in num:
            a = num.index(6)
            b = num.index(9)
            del num[a:b+1]
            y = num
        elif num == []:
            return "0"
        else:
            return sum(num)
    return sum(num)

summer_69([1,3,4,5,6,7,8,9])

13

In [2]:
def summer_69(num):
    total = 0
    add = True

    for x in num:
        while add:
            if x != 6:
                total += x
                break
            else:
                add = False
        while not add:
            if x != 9:
                break
            else:
                add = True
                break
    return total
            

summer_69([1,3,4,5,6,7,8,9])

13

In [3]:
#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

def spy_game(nums):
    code = [0,0,7,'x']
    for x in nums:
        print(code)
        if x == code[0]:
            code.pop(0)
            print(code)
    return len(code) == 1

spy_game([1,2,3,4,5,0,4,5,0,2,4,1,7])

[0, 0, 7, 'x']
[0, 0, 7, 'x']
[0, 0, 7, 'x']
[0, 0, 7, 'x']
[0, 0, 7, 'x']
[0, 0, 7, 'x']
[0, 7, 'x']
[0, 7, 'x']
[0, 7, 'x']
[0, 7, 'x']
[7, 'x']
[7, 'x']
[7, 'x']
[7, 'x']
[7, 'x']
['x']

True

In [5]:
def spy_game(nums):
    count = 0
    for num in nums:
        if num == 0:
            count += 1
        elif num == 7 and count >= 2:
            return True
    return False

spy_game([1,2,3,4,5,0,4,5,0,2,4,1,7])

True

In [18]:
def print_big(letter):

    patterns = {1:'   *    ',2:' *  * ',3:'*    *',4:'******',5:'**** ',6:'    * ',7:' *   ',8:'*  * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

print_big('b')

****
*    *
****
*    *
****

In [2]:
def user_choice(choices):
    
    _inRange = False
    #choices = 'Mayur'
    acce_Range = range(0,10)
    
    while _inRange == False or choices.isdigit() == False:
            
        choices = input("\n\tPlease enter a number (0-10): ")
        
        if choices.isdigit() == False:
            print("\n\tSorry!! it's not digit or Enter a number or digit")
            
        if choices.isdigit() == True:
            if int(choices) in acce_Range:
                _inRange = True
            else:
                print("\n\tOut of Range!! Enter a number between 1 to 10 range")
                _inRange = False                    
    return int(choices)

user_choice(5)

TypeError: user_choice() takes 0 positional arguments but 1 was given